body, html {
    background-color: rgb(168, 134, 89);

}

.background {
    display: block;
    position: relative;
}



nav {
    background-color: rgb(18, 145, 96);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 1000000000;
    display: block;
}

nav li {
    display: inline;
    margin-right: 6rem;
    float: left;
}

h1 {
    text-align: center;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: burlywood;
    display: inline;
    text-align: center;
    position: relative;
    font-size: 30px;
    top: 30px;
}



img { 
    width: 17rem; 
    height: 17rem;
    object-fit: cover;
    display:inline;
    border: 0px;
    margin: 0px;
}

footer {
    text-align: right;
    padding: 3px;
    background-color: rgba(53, 53, 53, 0.582); 
    color: white;


}