body, html {
    background-color: rgb(168, 134, 89);

}

.background {
    display: block;
    position: relative;
}



nav {
    background-color: rgb(18, 145, 96);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    z-index: 1000000000;
    display: block;
}

nav li {
    display: inline;
    margin-right: 6rem;
    float: right;
}

.nav-item {
    text-decoration: none;
}

h1 {

}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: burlywood;
    display: block;
    position: relative;
    font-size: 40px;
    top: 30px;
    padding: .75rem;
}



footer {
    text-align: right;
    padding: 3px;
    background-color: rgba(53, 53, 53, 0.582); 
    color: white;


}

#logo {
    top: .25rem;
    left: 2rem;
    height: 75px;
    width: 75px;
    z-index: 100000000000;
    display: inline;
    float: left;
}

*{box-sizing:border-box}
.mySlides{display: none;}

img {vertical-align: middle;}
*{box-sizing:border-box}

.slideshow-container {
    max-width:1000px;
    position: relative;
    margin:auto;
}
.default-slide{
    display: block;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8)
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #717171;
}
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 2s;
animation-name: fade;
animation-duration: 2s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}